.sidebar{
    padding: 25px 10px;
width: 1000%;
flex: 0.33%;
}

.sidebar> .sidebar__top{
    height: 40vh;
    width: 1005;
    border-bottom: 1px solid lightgray;
    margin-bottom: 10px;
    overflow: scroll;
}

.sidebar__top::-webkit-scrollbar{
    display: none;
}

.sidebar__top{
    -ms-overflow-style: none;
    scrollbar-width: none;
}